<h2>SERVICIOS</h2>
<ul class="servicios">
    <li *ngFor = "let servicio of servicios">
        <div><span class = "target">Modalidad: </span>{{servicio.modalidad}}</div>
        <div><span class = "target">Region: </span>{{servicio.region}}</div>
        <div><span class = "target">Plataforma: </span>{{servicio.plataforma}}</div>
        <div><span class = "target">Usuario: </span>{{servicio.usuario}}</div>
        <div><span class = "target">Name: </span>{{servicio.name}}</div>
        <div><span class = "target">Description: </span>{{servicio.description}}</div>
        <div><span class = "target">Fecha de inicio: </span>{{servicio.init_date}}</div>
        <div><span class = "target">Fecha de fin:</span>{{servicio.end_date}}</div>
        <hr>
    </li>
</ul>