<h1>Neo Adventura</h1>

<div>
    <mat-toolbar color="primary">
        <ng-container *ngIf = "lblServicio == true">
            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario.id, 'servicios']" routerLinkActive='active'>Servicios</a>
        </ng-container>
        <ng-container *ngIf = "lblAnfitrion == true">
            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario.id, 'anfitrion']" routerLinkActive='active'>Anfitriones</a>
        </ng-container>
        <a  *ngIf = "usuario.rol_name=='Anfitrión'" mat-button class="btn btn-danger" [routerLink]= "['/', usuario.id, 'servicioForm']" routerLinkActive='active'>Añadir un servicio</a>
        <a mat-button class="btn btn-danger" [routerLink]= "['/', usuario.id, 'perfil']" routerLinkActive='active'>Perfil</a>
        
    </mat-toolbar>
</div>
