<h1>Neo Adventura</h1>
<div>

    <mat-toolbar color="primary">
        <ng-container *ngIf="getCurrentRoute() == '/anfitrion'">
            <a mat-button class="btn btn-danger" routerLink="/servicios" routerLinkActive='active'>Servicios</a>
        </ng-container>
        <ng-container *ngIf="getCurrentRoute() == '/servicios'">
            <a mat-button class="btn btn-danger" routerLink="/anfitrion" routerLinkActive='active'>Anfitriones</a>
        </ng-container>
        <a mat-button class="btn btn-danger" routerLink="/servicioForm" routerLinkActive='active'>Añadir un servicio</a>
    </mat-toolbar>
</div>
