<h1>Neo Adventura</h1>

<div>
    <mat-toolbar color="primary">
<!--        <a *ngIf = "lbl[0]==true" mat-button class="btn btn-danger" [routerLink]= "['/', usuario?.id, 'servicioForm']" routerLinkActive='active'>Añadir un servicio</a>-->
<!--        <ng-container *ngIf = "lbl[1]==true">-->
<!--            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario?.id, 'servicios']" routerLinkActive='active'>Servicios</a>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf = "lbl[2]==true">-->
<!--            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario?.id, 'anfitrion']" routerLinkActive='active'>Anfitriones</a>-->
<!--        </ng-container>-->
<!--        <a *ngIf = "lbl[3]==true" mat-button class="btn btn-danger" [routerLink]= "['/', usuario?.id, 'perfil']" routerLinkActive='active'>Perfil</a>-->
        <a *ngIf = "lbl[0]==true" mat-button class="btn btn-danger" [routerLink]= "['/', usuario_header_id, 'servicioForm']" routerLinkActive='active'>Añadir un servicio</a>
        <ng-container *ngIf = "lbl[1]==true">
            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario_header_id, 'servicios']" routerLinkActive='active'>Servicios</a>
        </ng-container>
        <ng-container *ngIf = "lbl[2]==true">
            <a mat-button class="btn btn-danger" [routerLink]="['/','usuario', usuario_header_id, 'anfitrion']" routerLinkActive='active'>Anfitriones</a>
        </ng-container>
        <a *ngIf = "lbl[3]==true" mat-button class="btn btn-danger" [routerLink]= "['/', usuario_header_id, 'perfil']" routerLinkActive='active'>Perfil</a>
        <a *ngIf = "lbl[4]==true" mat-button class="btn btn-danger" [routerLink]= "['/', usuario_header_id, 'misservicios']" routerLinkActive='active'>Mis servicios</a>

        <span class="example-spacer"></span>

        <a mat-button class="btn btn-danger" [routerLink]="['/','login']" routerLinkActive='active'>Cerrar Sesión</a>

    </mat-toolbar>
</div>
