<app-header [usuario_header_id]="usuario.id" [usuario_header_rol]="usuario.rol_name"></app-header>
<h2>Mi perfil de usuario</h2>

<div class="container">
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <h1>{{ usuario.name }}</h1>

            <img [src] = "getImg(usuario.img)">

            <div class="form-group">
                <label for="img">Imagen</label>
                <input type="text" class="form-control" id="img"
                       required
                       [(ngModel)]="usuario.img" name="img"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                    Img is required
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                       required
                       [(ngModel)]="usuario.email" name="email"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                    Email is required
                </div>
            </div>

            <div class="form-group">
                <p><mat-label>Birth day</mat-label></p>
                <p> {{usuario.birth_day}} </p>
            </div>

            <div class="form-group">
                <label for="nickname">Nickname @</label>
                <input type="text" class="form-control" id="nickname"
                       required
                       [(ngModel)]="usuario.nickname" name="nickname"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                    It is not required
                </div>
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" >Submit</button>
            <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Limpiar datos</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
        </div>
        <!--    <div class="row">-->
        <!--      <div class="col-xs-3">Alter Ego</div>-->
        <!--      <div class="col-xs-9">{{ model.alterEgo }}</div>-->
        <!--    </div>-->
        <!--    <div class="row">-->
        <!--      <div class="col-xs-3">Power</div>-->
        <!--      <div class="col-xs-9">{{ model.power }}</div>-->
        <!--    </div>-->
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>

