<app-header [usuarioId] = "usuario.id"></app-header>

<div class="container" *ngIf="servicio">
    <div class="row">
        <div class="col-sm-12 col-md-6 pTop50">
            <mat-card>
                <img [src]="servicio.img"/>
                <h1> {{servicio.name | uppercase }} </h1>
                <p> {{servicio.region_name}} </p>
                <p> {{servicio.plataforma_name}} </p>
            </mat-card>
        </div>
    </div>
 

    <!--
    <div class="container">
        <h2>Reviews</h2>
            <p>Es un parrafo</p>
            <mat-card class="card-theme">
                <mat-card-content>
                    <p> {{review.score}} </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    -->
    <br>

    <div class="col-sm-12 col-md-6 pTop50">
            <mat-card>
                <form class="booking-form" [formGroup]="reservaForm" (ngSubmit)="createReserva()">
                    <h1>Realiza tu reserva del Servicio</h1>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Anfitrion</mat-label>
                            <input type="text" formControlName="customers" matInput>
                        </mat-form-field>
                    </div>
                    <Button variant="contained" color="primary" routerLink="/pagoForm">
                        pagar
                      </Button>
                    <div>
                    </div>
                </form>    
            </mat-card>
    </div>
    <br>
    <div>
        <h2>Comentarios: </h2>
        <div *ngFor="let r of reviews">
        <mat-card-content>
            <p>{{r.description}}</p>
        </mat-card-content>
        </div>
        <app-review-form></app-review-form>
    </div>
    <br>
</div>