
  <div class="imgcontainer">
    <img src="https://i.postimg.cc/9XkCD2Rn/neovim2.png" alt="NeoAdventuraLogo" class="avatar">
  </div>

  <div class="container">
 <!--   <div class="column-4" *ngFor="let usuarios of this.usuarios"></div>
      <div *ngIf="Anfitrionstarts(usuarios.name)"></div>-->

    <label for="uname"><b>Usuario</b></label>
    <input type="text" [(ngModel)]="value" placeholder="Ingresa tu nombre de usuario" >

    <button type="button" (click)="validar()">Ingresar</button>

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <a href="https://alessandro5c.github.io/VacacionesEnVR/index.html"><button type="button" class="cancelbtn" >Cancelar</button></a>
    <span class="psw">Registrate<a href="http://localhost:4200/registrar"> Aqui</a></span>
  </div>
