<app-header [usuario_header_id]="usuario.id" [usuario_header_rol]="usuario.rol_name"></app-header>

<div class="container">
    <div [hidden]="submitted">
        <h1>Paga por tu servicio</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

            <div class="form-group">
                <label for="usuario">Comprador</label>
                <input type="text" class="form-control" id="usuario"
                       [placeholder]="usuario.name" name="usuario" disabled="">
            </div>

            <div class="form-group">
                <label for="servicio">Servicio</label>
                <input type="text" class="form-control" id="servicio"
                       [placeholder]="servicio.name" name="servicio" disabled="">
            </div>

            <div class="form-group">
                <label for="servicio">El precio de este servicio es</label>
                <input type="text" class="form-control" id="precio"
                       [placeholder]="servicio.price | currency" name="precio" disabled="">
            </div>

            <div class="form-group">
                <label for="currency">Seleccione el tipo de moneda</label>
                <select class="form-control" id="currency"
                        required
                        [(ngModel)]="model.currency_id" name="currency.id"
                        #power="ngModel">
                    <option *ngFor="let pow of currencys" [value]="pow.id">{{pow.name}}</option>
                </select>
                <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                    *Tipo de moneda es obligatorio
                </div>
            </div>

            <div class="form-group">
                <label for="metodo">Seleccione el método de pago</label>
                <select class="form-control" id="metodo"
                        required
                        [(ngModel)]="model.metodo_id" name="metodo.id"
                        #power="ngModel">
                    <option *ngFor="let pow of metodos" [value]="pow.id">{{pow.name}}</option>
                </select>
                <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                    *Metodo es obligatorio
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Vivir una nueva experiencia</button>
            <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Limpiar formulario</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h1>Espere un momento...</h1>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Reintentar (solo si ha fallado la compra)</button>
    </div>
</div>

