<app-header  [usuarioId] = "anfitrion.id"></app-header>

<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <h2> Hola {{anfitrion.name}}, crea tu nuevo servicio</h2>

      <div class="form-group">
        <label for="usuario">Imagen (Opcional)</label>
        <input type="text" class="form-control" id="usuario"
               required
               [(ngModel)]="model.img" name="usuario"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="name">Nombre del servicio</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          *El nombre del servicio es obligatorio
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descripción de su servicio</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="model.description" name="description">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          *La descripción es obligatoria
        </div>
      </div>

      <div class="form-group">
        <label for="modalidad">Seleccione la modalidad</label>
        <select class="form-control" id="modalidad"
                required
                [(ngModel)]="model.modalidad_id" name="modalidad.id"
                #power="ngModel">
          <option *ngFor="let pow of modalidades" [value]="pow.id ">{{pow.name}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          *Se requiere asignar una modalidad
        </div>
      </div>

      <div class="form-group">
        <label for="plataforma">Seleccione la plataforma</label>
        <select class="form-control" id="plataforma"
                required
                [(ngModel)]="model.plataforma_id" name="plataforma.id"
                #power="ngModel">
          <option *ngFor="let pow of plataformas" [value]="pow.id">{{pow.name}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          *Se requiere asignar una plataforma
        </div>
      </div>

      <div class="form-group">
        <label for="region.id">Seleccione su región</label>
        <select class="form-control" id="region.id"
                required
                [(ngModel)]="model.region_id" name="region.id"
                #power="ngModel">
          <option *ngFor="let pow of regiones" [value]="pow.id">{{pow.name}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          *Se requiere asignar una región
        </div>
      </div>

      <div class="form-group">
        <label for="precio">Precio de su servicio</label>
        <input type="text" class="form-control" id="precio"
               [(ngModel)]="model.price" name="precio">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          *Se requiere asignar un precio mayor a 1.0 unidades
        </div>
      </div>

      <div class="form-group">
        <label for="init_date">¿Desde cuando será vigente su servicio?</label>
        <input type="date" class="form-control" id="init_date"
               [(ngModel)]="model.init_valid_date" name="init_date">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          *La fecha de inicio debe ser como mínimo un día mayor a la actual
        </div>
      </div>
      <div class="form-group">
        <label for="end_date">¿Hasta cuando será vigente su servicio?</label>
        <input type="date" class="form-control" id="end_date"
               [(ngModel)]="model.end_valid_date" name="end_date">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          *La fecha de termino tiene que se un día mayor que la fecha de incio
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Registrar el nuevo servicio</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Limpiar el formulario</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Espere un momento...</h2>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Editar</button>
  </div>
</div>